.topic {
  padding: 10px 10px 0;
  height: 100%;
}

.topicContent {
  margin: 10px auto 15px;
}

.form {
  margin-top: auto;
}

.scrollable {
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-inline: 10px;
}
