.gameContainer {
  max-width: 600px;
  height: 100%;
  margin-top: 32px;
  margin-inline: auto;
  padding-inline: 24px;
}

.gameRules {
  margin-top: 24px;
}
.root {
  background: black;
  text-align: center;
}

.root {
  background: black;
  text-align: center;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: center;
  align-items: center;
  height: 100%;
}
