.gameContainer {
  max-width: 600px;
  height: 100%;
  margin-top: 32px;
  margin-inline: auto;
  padding-inline: 24px;
}

.gameRules {
  margin-top: 24px;
}

.root {
  height: 100%;
  background: black;
  text-align: center;
}

.container {
  padding: 24px;
}

:global(.ant-progress-text) {
  color: white !important;
}
